@page "/SyncfusionTable"
@using BlazorSyncfusion.Models
@using Fluxor
@using BlazorSyncfusion.Store.State
@using BlazorSyncfusion.Services

@inject IState<OrdersState> OrdersState
@inject StateFacade Facade
<h3 class="text-center mb-3">Todos</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">OrderID</th>
                <th scope="col">CustomerID</th>
                <th scope="col">OrderDate</th>
                <th scope="col">Freight ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in OrdersState.Value.CurrentOrders.Take(10))
            {
                <tr>
                    <td>@order.OrderID</td>
                    <td>@order.CustomerID</td>
                    <td>@order.OrderDate</td>
                    <td>@order.Freight</td>
                </tr>
            }
        </tbody>
    </table>


@*
<h1>Syncfusion DataTable</h1>
<div class="col-lg-12 control-section">

    <div class="content-wrapper">
        <div class="row">

            <SfGrid DataSource="@Or" AllowPaging="true"
                    AllowReordering="true"
                    Toolbar="@ToolbarItems">
                <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(OrderDto.OrderID)
                                HeaderText="Order ID"
                                IsPrimaryKey="true"
                                CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-attr" }})"
                                Width="120"
                                AllowReordering="false">
                    </GridColumn>

                    <GridColumn Field=@nameof(OrderDto.CustomerID)
                                HeaderText="Customer Name"
                                CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-attr" }})"
                                Width="150">
                    </GridColumn>

                    <GridColumn Field=@nameof(OrderDto.OrderDate)
                                HeaderText=" Order Date"
                                CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-attr" }})"
                                Format="d" Type="ColumnType.Date"
                                EditType="EditType.DatePickerEdit"
                                Width="130">
                    </GridColumn>

                    <GridColumn Field=@nameof(OrderDto.Freight)
                                HeaderText="Freight"
                                CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-attr" }})"
                                Format="C2"
                                Width="120">
                    </GridColumn>

                    <GridColumn Field=@nameof(OrderDto.ShipCountry)
                                HeaderText="ShipCountry"
                                CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-attr" }})"
                                Width="120">
                    </GridColumn>

                    <GridColumn Field=@nameof(OrderDto.Verified)
                                DisplayAsCheckBox="true"
                                Width="50"
                                AllowReordering="false">
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

*@

<style>


    .e-grid .e-headercell {
        background-color: darkturquoise;
    }

    .e-headercell {
        color: slategray;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    .e-grid .e-gridheader .e-headercell.e-attr .e-headercelldiv {
        text-align: center !important;
    }

    .e-attr {
        text-align: center !important;
    }
</style>
