@page "/DataTableMudBlazor"
@using BlazorWAUIs.Pages
@using System.Net.Http.Json
@inject HttpClient httpClient




<h1>MudBlazor DataTable</h1>
<MudTable Items="@Orders" Dense="true" Hover="true" Bordered="true" >
    <ColGroup>
        <col style="width: 60px; color:aqua;  text-align: center;" />
        <col style="width: 60px; color:aqua;  text-align: center;" />
        <col style="width: 60px; color:aqua;  text-align: center;" />
        <col style="width: 60px; color:aqua;  text-align: center;" />
    </ColGroup>
    <HeaderContent  >
        <MudTh >Order ID</MudTh>
        <MudTh>Customer Name</MudTh>
        <MudTh>Order Date</MudTh>
        <MudTh>Freight</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Order Id">@context.OrderID</MudTd>
        <MudTd DataLabel="Customer Name">@context.CustomerID</MudTd>
        <MudTd DataLabel="Order Date">@context.OrderDate</MudTd>
        <MudTd DataLabel="Freight">@context.Freight</MudTd>

    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[]{0,10}" />
    </PagerContent> 
</MudTable>
