@page "/DataTables"
@using Syncfusion.Blazor.Grids
@using Syncfusion
@using System.Net.Http.Json
@inject HttpClient httpClient

<style>
  


</style>

<h1>Syncfusion DataTable</h1>
<SfGrid DataSource="@Orders" AllowPaging="true">
    <GridPageSettings PageSize="10"></GridPageSettings>
    <GridColumns>
        <GridColumn Field=@nameof(Order.OrderID) HeaderText="Order ID" CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-attr" }})" Width="120"></GridColumn>
        <GridColumn Field=@nameof(Order.CustomerID) HeaderText="Customer Name" CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-attr" }})" Width="150"></GridColumn>
        <GridColumn Field=@nameof(Order.OrderDate) HeaderText=" Order Date" CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-attr" }})" Format="d" Type="ColumnType.Date" Width="130"></GridColumn>
        <GridColumn Field=@nameof(Order.Freight) HeaderText="Freight" CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-attr" }})" Format="C2" Width="120"></GridColumn>
    </GridColumns>
</SfGrid>

<h1>MudBlazor DataTable</h1>
<MudTable Items="@Orders" Dense="true" Hover="true" Bordered="true" Striped="true" CanCancelEdit="true" CustomHeader="true">
    <HeaderContent >
        <MudTh Class="pa-4">Order ID</MudTh>
        <MudTh Class="pa-4">Customer Name</MudTh>
        <MudTh Class="pa-4">Order Date</MudTh>
        <MudTh Class="pa-4">Freight</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd Class="mud-td-row" DataLabel="Order Id">@context.OrderID</MudTd>
        <MudTd Class="mud-td-row" DataLabel="Customer Name">@context.CustomerID</MudTd>
        <MudTd Class="mud-td-row" DataLabel="Order Date">@context.OrderDate</MudTd>
        <MudTd Class="mud-td-row" DataLabel="Freight">@context.Freight</MudTd>

    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[]{0,10}" />
    </PagerContent>
</MudTable>

<h1>Radzen DataTable</h1>



<RadzenDataGrid TItem="Order" Data="@Orders" PagerPosition="@pagerPosition" AllowPaging="true" AllowSorting="true" style="border-top: 1px solid #000000;">
    <Columns>
        <RadzenDataGridColumn TItem="Order" Property="OrderID" Title="Order Id" />
        <RadzenDataGridColumn TItem="Order" Property="CustomerID" Title="Customer Name" />
        <RadzenDataGridColumn TItem="Order" Property="OrderDate" Title="Order Date" />
        <RadzenDataGridColumn TItem="Order" Property="Freight" Title="Freight" />

    </Columns>
</RadzenDataGrid>
